.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.boardRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tile {
  align-items: center;
  background-color: #d5fcff;
  border: 1px solid #00a6ed;
  cursor: pointer;
  display: flex;
  font-size: xxx-large;
  height: 100px;
  justify-content: center;
  width: 100px;

  border-top: unset;
  border-right: unset;
}

.tile--first-row {
  border-top: 1px solid #00a6ed;
}

.tile:nth-of-type(5) {
  border-right: 1px solid #00a6ed;
}

.tile--selected {
  background-color: #b4f5fa;
}

.tile--missed {
  background-color: red;
}

.tile--hit {
  background-color: green;
}
