.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.boardRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tile {
  align-items: center;
  background-color: #cffafe;
  border: 1px solid #00a6ed;
  cursor: pointer;
  display: flex;
  font-size: xxx-large;
  height: 100px;
  justify-content: center;
  width: 100px;

  border-top: unset;
  border-right: unset;
}

.tile--first-row {
  border-top: 1px solid #00a6ed;
}

.tile:nth-of-type(5) {
  border-right: 1px solid #00a6ed;
}

.tile--selected {
  background-color: #a5f3fc;
}

.tile--missed {
  background-color: #fca5a5;
}

.tile--hit {
  background-color: #86efac;
}

.fireAwayButton {
  margin-top: 16px !important;
  font-variant: all-small-caps;
  font-size: x-large !important;
}
